<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587317277397-iaqjavl0fgedptp0gau7n8f8fia893us.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587317277397-iaqjavl0fgedptp0gau7n8f8fia893us</string>
	<key>API_KEY</key>
	<string>AIzaSyCppRAdbvin1h1gh38stqwU1PQ2e-zRoPE</string>
	<key>GCM_SENDER_ID</key>
	<string>587317277397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.superbLandscaping</string>
	<key>PROJECT_ID</key>
	<string>superb-landscaping</string>
	<key>STORAGE_BUCKET</key>
	<string>superb-landscaping.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:587317277397:ios:0382c6651e852c1d36685c</string>
</dict>
</plist>
